.container {
    width: 1000px;
    margin: 0 auto;
    height: auto;
    text-align: center;
}

table {
    text-align: center;
    margin: 0 auto;
}
.btn {
    display: inline-block;
    font-weight: 400;
    color: #6c757d;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: initial;
    border: 1px solid transparent;
    padding: .45rem .9rem;
    font-size: .9rem;
    line-height: 1.5;
    border-radius: .15rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.btnEmpty {
    background-color: #ffffff;
    border: #fa5c7c 1px solid;
    padding: 5px 10px;
    color: #fa5c7c;
    /* float: right; */
    text-decoration: none;
    border-radius: 3px;
    /* margin: 5px 0px; */
}
.btn-success {
    background-color: #ffffff;
    border: #0acf97 1px solid;
    padding: 5px 10px;
    color: #0acf97;
    /* float: right; */
    text-decoration: none;
    border-radius: 3px;
    /* margin: 10px 0px; */
}
.btn-warring {
    background-color: #ffffff;
    border: #ffbc00 1px solid;
    padding: 5px 10px;
    color: #ffbc00;
    /* float: right; */
    text-decoration: none;
    border-radius: 3px;
    /* margin: 10px 0px; */
}

.text-header {
    border-bottom: 1px solid red;
}

h2 {
    text-align: left;
}

div {
    display: block;
}

.column {
    margin: 0 auto;
    float: left;
    width: 25%;
    padding: 10px; 
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 16px;
    text-align: center;
    background-color: #f1f1f1;
}

.row {
    margin: 10px;
}

/* Clear floats after the columns */

.row:after {
    content: "";
    display: table;
    clear: both;
}
img{
    height: auto;
	width:160px;
	position:relative;
}
input[type="text"] {
    width: 100%;
    border: 2px solid #aaa;
    border-radius: 4px;
    margin: 8px 0;
    outline: none;
    padding: 8px;
    box-sizing: border-box;
    transition: 0.3s;
}
  
input[type="text"]:focus {
    border-color: dodgerBlue;
    box-shadow: 0 0 8px 0 dodgerBlue;
}
  
.inputWithIcon input[type="text"] {
    padding-left: 40px;
}

input[type="number"] {
    width: 100%;
    border: 2px solid #aaa;
    border-radius: 4px;
    margin: 8px 0;
    outline: none;
    padding: 8px;
    box-sizing: border-box;
    transition: 0.3s;
}
  
input[type="number"]:focus {
    border-color: dodgerBlue;
    box-shadow: 0 0 8px 0 dodgerBlue;
}
  
.inputWithIcon input[type="number"] {
    padding-left: 40px;
}

body {
    font: normal medium/1.4 sans-serif;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th,
td {
    padding: 0.25rem;
    text-align: left;
    border: 1px solid #ccc;
}

tbody tr:nth-child(odd) {
    background: #eee;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
li {
    float: left;
}
  
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
  
li a:hover {
    background-color: #111;
}


